# DataFrame Value Retrieval

In [10]:
import pandas as pd

index=['20201201','20201202','20201203','20201204']
columns = ['AAPL','MSFT','TSLA','LULU']

data=[[-0.01,0.03,0.05,0.005],
      [0.015,0.005,-0.05,-0.0025],
      [-0.025,0.0015,-0.02,0.01],
      [-0.03,0.015,0.03,0.01]]

df=pd.DataFrame(data,index=index,columns=columns)
df

           AAPL    MSFT  TSLA    LULU
20201201 -0.010  0.0300  0.05  0.0050
20201202  0.015  0.0050 -0.05 -0.0025
20201203 -0.025  0.0015 -0.02  0.0100
20201204 -0.030  0.0150  0.03  0.0100

In [2]:
# Grab a column > returns a Series
df['AAPL']

20201201   -0.010
20201202    0.015
20201203   -0.025
20201204   -0.030
Name: AAPL, dtype: float64

In [ ]:
# Grab a row > returns a Series
df.loc['20201201']

In [ ]:
# grab TSLA price on 20201203
print (df['TSLA']['20201203'])
print (df.loc['20201203']['TSLA'])

In [ ]:
# better way to grab TSLA price on 20201203
df.loc['20201203','TSLA']

In [ ]:
# subset the dataframe using loc 
df.loc[['20201201','20201203'],['TSLA','AAPL']]

In [ ]:
df.loc['20201201':'20201203','TSLA']

In [ ]:
# boolean logic works with loc
df.loc[df['TSLA']>0,['TSLA','AAPL']]

In [3]:
df[df['AAPL']<0]

           AAPL    MSFT  TSLA   LULU
20201201 -0.010  0.0300  0.05  0.005
20201203 -0.025  0.0015 -0.02  0.010
20201204 -0.030  0.0150  0.03  0.010

In [4]:
df[df<0]

           AAPL  MSFT  TSLA    LULU
20201201 -0.010   NaN   NaN     NaN
20201202    NaN   NaN -0.05 -0.0025
20201203 -0.025   NaN -0.02     NaN
20201204 -0.030   NaN   NaN     NaN

## DataFrame Value Modification

In [5]:
# change an entry
df.loc['20201203','TSLA']=0.03
df

           AAPL    MSFT  TSLA    LULU
20201201 -0.010  0.0300  0.05  0.0050
20201202  0.015  0.0050 -0.05 -0.0025
20201203 -0.025  0.0015  0.03  0.0100
20201204 -0.030  0.0150  0.03  0.0100

In [ ]:
# set entire column to scaler
df['TSLA']=0
df

In [ ]:
# set column using list
df['TSLA']=[0.05,-0.05,-0.2,0.03]
df

In [ ]:
# set column using series
tsla = pd.Series({'20201204':0.01,'20201201':0.02,'20201202':0.04})
tsla

In [ ]:
df['TSLA']=tsla
df

In [ ]:
# new column
df['XOM']=[0.01,0.005,-0.005,0.025]
df

In [11]:
# boolean indexing to set values
df.loc[df['AAPL']<0,'AAPL']=0
df

           AAPL    MSFT  TSLA    LULU
20201201  0.000  0.0300  0.05  0.0050
20201202  0.015  0.0050 -0.05 -0.0025
20201203  0.000  0.0015 -0.02  0.0100
20201204  0.000  0.0150  0.03  0.0100

In [ ]:
# boolean indexing to set values
df[df<0]=0
df