In [3]:
import pandas as pd 
import numpy as np 

univ = ['SPY','TLT','VXX','QQQ']
dates = ['20210105','20210106','20210107','20210108','20210109']

In [4]:
earnings = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
ret_prev = pd.DataFrame(np.random.randn(5,4), index=dates,columns=univ)
pe = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)
analyst_est = pd.DataFrame( np.random.randn(5,4), index=dates,columns=univ)

In [5]:
pe

               SPY       TLT       VXX       QQQ
20210105 -0.449845 -0.284572 -0.554591  1.450796
20210106  0.855913 -0.984087 -1.239322  1.174332
20210107  0.923790  0.546509  0.618120 -0.671010
20210108  0.782323  1.299715  0.250483  1.304429
20210109  0.696263 -0.192311  0.344272  0.801016

In [6]:
data = {}
data['earnings']=earnings
data['ret_prev']=ret_prev
data['pe']=pe
data['analyst_est']=analyst_est

In [7]:
multi = pd.concat(data)
multi

                           SPY       TLT       VXX       QQQ
earnings    20210105 -2.338671  1.301875  0.319925  0.244670
            20210106  0.321557  0.509648  0.532613 -0.848428
            20210107  2.026523 -1.160832 -0.936919 -1.272875
            20210108 -0.283635  0.886435 -1.894583  0.086072
            20210109  0.935196 -0.216293 -1.451469 -2.288569
ret_prev    20210105  0.074796  1.421800 -0.570226 -0.622160
            20210106 -1.292967  0.230145 -1.227508  0.273587
            20210107 -0.572013  1.229223 -0.167203  0.826842
            20210108 -0.556784 -0.213488  2.139243  1.338537
            20210109  0.666087 -0.111994  0.523202  0.029947
pe          20210105 -0.449845 -0.284572 -0.554591  1.450796
            20210106  0.855913 -0.984087 -1.239322  1.174332
            20210107  0.923790  0.546509  0.618120 -0.671010
            20210108  0.782323  1.299715  0.250483  1.304429
            20210109  0.696263 -0.192311  0.344272  0.801016
analyst_est 20210105  0.760996 -0.205145  2.051561 -0.247528
            20210106  0.980782 -0.788313 -0.135731  0.209177
            20210107 -1.015314 -0.971833 -0.442904  0.270205
            20210108  0.671497 -1.509239  0.000705 -1.701090
            20210109  0.641368  0.619267 -1.438229  0.143841

In [8]:
multi.loc['pe']

               SPY       TLT       VXX       QQQ
20210105 -0.449845 -0.284572 -0.554591  1.450796
20210106  0.855913 -0.984087 -1.239322  1.174332
20210107  0.923790  0.546509  0.618120 -0.671010
20210108  0.782323  1.299715  0.250483  1.304429
20210109  0.696263 -0.192311  0.344272  0.801016

In [9]:
multi.loc['ret_prev':'analyst_est']

                           SPY       TLT       VXX       QQQ
ret_prev    20210105  0.074796  1.421800 -0.570226 -0.622160
            20210106 -1.292967  0.230145 -1.227508  0.273587
            20210107 -0.572013  1.229223 -0.167203  0.826842
            20210108 -0.556784 -0.213488  2.139243  1.338537
            20210109  0.666087 -0.111994  0.523202  0.029947
pe          20210105 -0.449845 -0.284572 -0.554591  1.450796
            20210106  0.855913 -0.984087 -1.239322  1.174332
            20210107  0.923790  0.546509  0.618120 -0.671010
            20210108  0.782323  1.299715  0.250483  1.304429
            20210109  0.696263 -0.192311  0.344272  0.801016
analyst_est 20210105  0.760996 -0.205145  2.051561 -0.247528
            20210106  0.980782 -0.788313 -0.135731  0.209177
            20210107 -1.015314 -0.971833 -0.442904  0.270205
            20210108  0.671497 -1.509239  0.000705 -1.701090
            20210109  0.641368  0.619267 -1.438229  0.143841

In [10]:
multi.loc[('ret_prev','20210107'),['SPY','TLT']]

SPY   -0.572013
TLT    1.229223
Name: (ret_prev, 20210107), dtype: float64

In [11]:
ser = multi['SPY']
ser

earnings     20210105   -2.338671
             20210106    0.321557
             20210107    2.026523
             20210108   -0.283635
             20210109    0.935196
ret_prev     20210105    0.074796
             20210106   -1.292967
             20210107   -0.572013
             20210108   -0.556784
             20210109    0.666087
pe           20210105   -0.449845
             20210106    0.855913
             20210107    0.923790
             20210108    0.782323
             20210109    0.696263
analyst_est  20210105    0.760996
             20210106    0.980782
             20210107   -1.015314
             20210108    0.671497
             20210109    0.641368
Name: SPY, dtype: float64

In [12]:
ser['pe']

20210105   -0.449845
20210106    0.855913
20210107    0.923790
20210108    0.782323
20210109    0.696263
Name: SPY, dtype: float64

In [13]:
# unstack a multindex series into a dataframe
ser.unstack(level=0)

          earnings  ret_prev        pe  analyst_est
20210105 -2.338671  0.074796 -0.449845     0.760996
20210106  0.321557 -1.292967  0.855913     0.980782
20210107  2.026523 -0.572013  0.923790    -1.015314
20210108 -0.283635 -0.556784  0.782323     0.671497
20210109  0.935196  0.666087  0.696263     0.641368

In [14]:
ser.unstack(level=0).stack()

20210105  earnings      -2.338671
          ret_prev       0.074796
          pe            -0.449845
          analyst_est    0.760996
20210106  earnings       0.321557
          ret_prev      -1.292967
          pe             0.855913
          analyst_est    0.980782
20210107  earnings       2.026523
          ret_prev      -0.572013
          pe             0.923790
          analyst_est   -1.015314
20210108  earnings      -0.283635
          ret_prev      -0.556784
          pe             0.782323
          analyst_est    0.671497
20210109  earnings       0.935196
          ret_prev       0.666087
          pe             0.696263
          analyst_est    0.641368
dtype: float64

In [15]:
multi = pd.concat(data,axis = 1)

In [16]:
multi

          earnings                                ret_prev            \
               SPY       TLT       VXX       QQQ       SPY       TLT
20210105 -2.338671  1.301875  0.319925  0.244670  0.074796  1.421800
20210106  0.321557  0.509648  0.532613 -0.848428 -1.292967  0.230145
20210107  2.026523 -1.160832 -0.936919 -1.272875 -0.572013  1.229223
20210108 -0.283635  0.886435 -1.894583  0.086072 -0.556784 -0.213488
20210109  0.935196 -0.216293 -1.451469 -2.288569  0.666087 -0.111994

                                    pe                                \
               VXX       QQQ       SPY       TLT       VXX       QQQ
20210105 -0.570226 -0.622160 -0.449845 -0.284572 -0.554591  1.450796
20210106 -1.227508  0.273587  0.855913 -0.984087 -1.239322  1.174332
20210107 -0.167203  0.826842  0.923790  0.546509  0.618120 -0.671010
20210108  2.139243  1.338537  0.782323  1.299715  0.250483  1.304429
20210109  0.523202  0.029947  0.696263 -0.192311  0.344272  0.801016

         analyst_est
                 SPY       TLT       VXX       QQQ
20210105    0.760996 -0.205145  2.051561 -0.247528
20210106    0.980782 -0.788313 -0.135731  0.209177
20210107   -1.015314 -0.971833 -0.442904  0.270205
20210108    0.671497 -1.509239  0.000705 -1.701090
20210109    0.641368  0.619267 -1.438229  0.143841

In [17]:
# indexing
multi['pe']

               SPY       TLT       VXX       QQQ
20210105 -0.449845 -0.284572 -0.554591  1.450796
20210106  0.855913 -0.984087 -1.239322  1.174332
20210107  0.923790  0.546509  0.618120 -0.671010
20210108  0.782323  1.299715  0.250483  1.304429
20210109  0.696263 -0.192311  0.344272  0.801016

In [18]:
multi[['pe','earnings']]

                pe                                earnings            \
               SPY       TLT       VXX       QQQ       SPY       TLT
20210105 -0.449845 -0.284572 -0.554591  1.450796 -2.338671  1.301875
20210106  0.855913 -0.984087 -1.239322  1.174332  0.321557  0.509648
20210107  0.923790  0.546509  0.618120 -0.671010  2.026523 -1.160832
20210108  0.782323  1.299715  0.250483  1.304429 -0.283635  0.886435
20210109  0.696263 -0.192311  0.344272  0.801016  0.935196 -0.216293


               VXX       QQQ
20210105  0.319925  0.244670
20210106  0.532613 -0.848428
20210107 -0.936919 -1.272875
20210108 -1.894583  0.086072
20210109 -1.451469 -2.288569

In [19]:
# rearrange axes
multi.swaplevel(0,1,1)

,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ
,earnings,earnings,earnings,earnings,ret_prev,ret_prev,ret_prev,ret_prev,pe,pe,pe,pe,analyst_est,analyst_est,analyst_est,analyst_est
20210105,-2.338671,1.301875,0.319925,0.244670,0.074796,1.421800,-0.570226,-0.622160,-0.449845,-0.284572,-0.554591,1.450796,0.760996,-0.205145,2.051561,-0.247528
20210106,0.321557,0.509648,0.532613,-0.848428,-1.292967,0.230145,-1.227508,0.273587,0.855913,-0.984087,-1.239322,1.174332,0.980782,-0.788313,-0.135731,0.209177
20210107,2.026523,-1.160832,-0.936919,-1.272875,-0.572013,1.229223,-0.167203,0.826842,0.923790,0.546509,0.618120,-0.671010,-1.015314,-0.971833,-0.442904,0.270205
20210108,-0.283635,0.886435,-1.894583,0.086072,-0.556784,-0.213488,2.139243,1.338537,0.782323,1.299715,0.250483,1.304429,0.671497,-1.509239,0.000705,-1.701090
20210109,0.935196,-0.216293,-1.451469,-2.288569,0.666087,-0.111994,0.523202,0.029947,0.696263,-0.192311,0.344272,0.801016,0.641368,0.619267,-1.438229,0.143841

In [20]:
d1 = (multi.swaplevel(0,1,1))
d1.sort_index()

,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ,SPY,TLT,VXX,QQQ
,earnings,earnings,earnings,earnings,ret_prev,ret_prev,ret_prev,ret_prev,pe,pe,pe,pe,analyst_est,analyst_est,analyst_est,analyst_est
20210105,-2.338671,1.301875,0.319925,0.244670,0.074796,1.421800,-0.570226,-0.622160,-0.449845,-0.284572,-0.554591,1.450796,0.760996,-0.205145,2.051561,-0.247528
20210106,0.321557,0.509648,0.532613,-0.848428,-1.292967,0.230145,-1.227508,0.273587,0.855913,-0.984087,-1.239322,1.174332,0.980782,-0.788313,-0.135731,0.209177
20210107,2.026523,-1.160832,-0.936919,-1.272875,-0.572013,1.229223,-0.167203,0.826842,0.923790,0.546509,0.618120,-0.671010,-1.015314,-0.971833,-0.442904,0.270205
20210108,-0.283635,0.886435,-1.894583,0.086072,-0.556784,-0.213488,2.139243,1.338537,0.782323,1.299715,0.250483,1.304429,0.671497,-1.509239,0.000705,-1.701090
20210109,0.935196,-0.216293,-1.451469,-2.288569,0.666087,-0.111994,0.523202,0.029947,0.696263,-0.192311,0.344272,0.801016,0.641368,0.619267,-1.438229,0.143841

In [22]:
# sum across an axis
multi.sum(axis=1)

20210105    2.353681
20210106   -1.428605
20210107   -0.769690
20210108    2.600618
20210109   -0.298407
dtype: float64

In [23]:
# standard pandas functions produce multi-index series
multi.mean()

earnings     SPY    0.132194
             TLT    0.264167
             VXX   -0.686087
             QQQ   -0.815826
ret_prev     SPY   -0.336176
             TLT    0.511137
             VXX    0.139501
             QQQ    0.369351
pe           SPY    0.561689
             TLT    0.077051
             VXX   -0.116208
             QQQ    0.811913
analyst_est  SPY    0.407866
             TLT   -0.571053
             VXX    0.007080
             QQQ   -0.265079
dtype: float64

In [25]:
multi.mean().unstack(level=1)

                  SPY       TLT       VXX       QQQ
earnings     0.132194  0.264167 -0.686087 -0.815826
ret_prev    -0.336176  0.511137  0.139501  0.369351
pe           0.561689  0.077051 -0.116208  0.811913
analyst_est  0.407866 -0.571053  0.007080 -0.265079