In [9]:
import pandas as pd 
import numpy as np 

univ = ['AAPL','MSFT','BAC','GS']
dates = pd.date_range('20110101','20201231')
sector = {'AAPL':'Tech','MSFT':'Tech','BAC':'Fin','GS':'Fin'}

data=[]
for dt in dates:
    for x in univ:
        data.append([x,sector[x],dt,np.random.randn(),np.random.randn()])

data = pd.DataFrame(data,columns=['ticker','sector','date','signal1','signal2'])
data

      ticker sector       date   signal1   signal2
0       AAPL   Tech 2011-01-01 -0.013384  1.077737
1       MSFT   Tech 2011-01-01  2.465610 -0.460541
2        BAC    Fin 2011-01-01 -1.578504 -0.478542
3         GS    Fin 2011-01-01  0.900765 -1.940800
4       AAPL   Tech 2011-01-02  1.321666  0.938132
...      ...    ...        ...       ...       ...
14607     GS    Fin 2020-12-30  0.477929  0.486389
14608   AAPL   Tech 2020-12-31  0.900820 -0.793855
14609   MSFT   Tech 2020-12-31  1.861894  0.833187
14610    BAC    Fin 2020-12-31  0.477235 -0.390789
14611     GS    Fin 2020-12-31 -0.238481 -0.387154

[14612 rows x 5 columns]

In [10]:
# whats the average signal of each ticker?
data.groupby('ticker').mean()

         signal1   signal2
ticker
AAPL   -0.016463  0.012084
BAC     0.021728 -0.005335
GS     -0.006344  0.033972
MSFT    0.020441 -0.020008

In [11]:
# whats the average signal of each sector on each day?
data.groupby(['sector','date']).mean()

                    signal1   signal2
sector date
Fin    2011-01-01 -0.338870 -1.209671
       2011-01-02 -1.204062  0.239580
       2011-01-03  0.048259  0.629065
       2011-01-04  0.415299 -0.060184
       2011-01-05 -2.126809  1.231895
...                     ...       ...
Tech   2020-12-27  0.341062 -0.529064
       2020-12-28  0.439989 -0.853202
       2020-12-29  0.316989 -0.433931
       2020-12-30 -0.900661  1.278780
       2020-12-31  1.381357  0.019666

[7306 rows x 2 columns]

In [17]:
# can index before applying the function
data.groupby(['sector','date'])[['signal1']].mean()

                    signal1
sector date
Fin    2011-01-01 -0.338870
       2011-01-02 -1.204062
       2011-01-03  0.048259
       2011-01-04  0.415299
       2011-01-05 -2.126809
...                     ...
Tech   2020-12-27  0.341062
       2020-12-28  0.439989
       2020-12-29  0.316989
       2020-12-30 -0.900661
       2020-12-31  1.381357

[7306 rows x 1 columns]

In [18]:
# use apply with groupby to pass an arbitrary function

def max_minus_min(x):
    return x.max()-x.min()

data.groupby(['sector','date'])[['signal1','signal2']].apply(max_minus_min)

                    signal1   signal2
sector date
Fin    2011-01-01  2.479270  1.462259
       2011-01-02  0.713437  1.793570
       2011-01-03  0.047394  0.075773
       2011-01-04  0.222695  0.295239
       2011-01-05  1.976790  0.303491
...                     ...       ...
Tech   2020-12-27  1.193869  0.090848
       2020-12-28  0.932353  0.291516
       2020-12-29  0.973669  1.799339
       2020-12-30  2.103082  1.288369
       2020-12-31  0.961074  1.627042

[7306 rows x 2 columns]