In [11]:
import pandas as pd 

dt = '20110102'
dt = pd.to_datetime(dt)

In [12]:
# get time fields
dt

Timestamp('2011-01-02 00:00:00')

In [18]:
print (dt.year)

print (dt.month)

print (dt.day)

print (dt.hour)

print (dt.minute)

print (dt.second)

2011
1
2
0
0
0

In [31]:
# handles hours/minute/seconds too
pd.to_datetime('20110102 12:10:30')

Timestamp('2011-01-02 12:10:30')

In [20]:
# convert back to a string
dt.strftime('%Y%m%d')

'20110102'

In [32]:
# shifting logic
dt + pd.tseries.offsets.Day()

Timestamp('2011-01-03 00:00:00')

In [33]:
dt + pd.tseries.offsets.BDay()

Timestamp('2011-01-03 00:00:00')

In [ ]:
## roll forward / backward

In [21]:
## subtract two times 
dt1 = pd.to_datetime('20110101')
dt2 = pd.to_datetime('20110131')

diff = dt2 - dt1
diff

Timedelta('30 days 00:00:00')

In [22]:
diff.days

30

In [24]:
date = ['20110102','20110103','20110105']
dt_index = pd.DatetimeIndex(date)
dt_index

DatetimeIndex(['2011-01-02', '2011-01-03', '2011-01-05'], dtype='datetime64[ns]', freq=None)

In [25]:
dt_index[0]

Timestamp('2011-01-02 00:00:00')

In [27]:
## get time range (also works with strings as inputs)
days = pd.date_range(dt1,dt2) 
days

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14', '2011-01-15', '2011-01-16',
               '2011-01-17', '2011-01-18', '2011-01-19', '2011-01-20',
               '2011-01-21', '2011-01-22', '2011-01-23', '2011-01-24',
               '2011-01-25', '2011-01-26', '2011-01-27', '2011-01-28',
               '2011-01-29', '2011-01-30', '2011-01-31'],
              dtype='datetime64[ns]', freq='D')

In [29]:
months = pd.date_range(dt1,dt2,freq='M')
months

DatetimeIndex(['2011-01-31'], dtype='datetime64[ns]', freq='M')

In [35]:
## resampling 

univ = ['SPY','TLT','VXX','QQQ']
days = pd.date_range('20200101','20201231')
days

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-25',
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', length=366, freq='D')